In [1]:
import pandas as pd

In [15]:
del full_df

In [16]:
%%time
df = pd.read_parquet('retail_15.parquet')

CPU times: total: 1min 11s
Wall time: 30.3 s

In [17]:
%%time
df.describe()

CPU times: total: 19.3 s
Wall time: 20.5 s

,CustID,bucket,age,loyalty_card,StoreNum,Storeage,Year,Sales,Cost,mkt_bdgt,...,City_Lat,City_Long,Country_Lat,Country_Long,Region_Lat,Region_Long,Region_2_Lat,Region_2_Long,State_Lat,State_Long
count,1.395069e+07,1.395069e+07,3.848985e+06,1.395069e+07,1.395069e+07,1.395069e+07,1.395069e+07,1.395069e+07,1.395069e+07,1.395069e+07,...,1.395069e+07,1.395069e+07,1.395069e+07,1.395069e+07,1.395069e+07,1.395069e+07,1.395069e+07,1.395069e+07,1.395069e+07,1.395069e+07
mean,1.857178e+07,1.582845e+00,4.357741e+01,2.758993e-01,6.126681e+02,8.423475e+00,2.009143e+03,4.197586e+01,1.364745e+01,6.575598e+05,...,3.691084e+01,-9.119452e+01,3.701263e+01,-9.145084e+01,3.930507e+01,-9.085200e+01,3.930507e+01,-9.085200e+01,3.701263e+01,-9.145084e+01
std,1.367594e+07,6.160740e-01,1.962638e+01,4.469663e-01,3.488005e+02,4.944200e+00,3.505409e-01,3.180609e+01,8.126207e+00,1.158654e+06,...,5.278887e+00,1.600990e+01,5.114275e+00,1.593983e+01,5.633576e+00,1.694443e+01,5.633576e+00,1.694443e+01,5.114275e+00,1.593983e+01
min,1.900000e+01,1.000000e+00,1.800000e+01,0.000000e+00,2.000000e+00,1.000000e+00,2.009000e+03,0.000000e+00,0.000000e+00,0.000000e+00,...,2.130895e+01,-1.578262e+02,2.117650e+01,-1.575721e+02,3.000000e+01,-1.210000e+02,3.000000e+01,-1.210000e+02,2.117650e+01,-1.575721e+02
25%,5.607937e+06,1.000000e+00,2.800000e+01,0.000000e+00,3.170000e+02,5.000000e+00,2.009000e+03,2.100000e+01,8.000000e+00,2.250530e+04,...,3.352475e+01,-9.733379e+01,3.335230e+01,-9.744230e+01,3.500000e+01,-1.060000e+02,3.500000e+01,-1.060000e+02,3.335230e+01,-9.744230e+01
50%,1.390594e+07,2.000000e+00,3.900000e+01,0.000000e+00,6.020000e+02,8.000000e+00,2.009000e+03,3.500000e+01,1.300000e+01,6.602812e+04,...,3.803451e+01,-8.574953e+01,3.769810e+01,-8.643100e+01,4.030000e+01,-8.475000e+01,4.030000e+01,-8.475000e+01,3.769810e+01,-8.643100e+01
75%,3.152354e+07,2.000000e+00,5.600000e+01,1.000000e+00,9.000000e+02,1.100000e+01,2.009000e+03,5.800000e+01,1.800000e+01,8.635441e+05,...,4.070423e+01,-7.903947e+01,4.123400e+01,-7.965460e+01,4.330000e+01,-7.500000e+01,4.330000e+01,-7.500000e+01,4.123400e+01,-7.965460e+01
max,4.818873e+07,3.000000e+00,1.400000e+02,1.000000e+00,1.279000e+03,2.900000e+01,2.010000e+03,1.210800e+04,1.500000e+02,5.094381e+06,...,4.767334e+01,-7.096147e+01,4.735220e+01,-7.137800e+01,4.700000e+01,-7.450000e+01,4.700000e+01,-7.450000e+01,4.735220e+01,-7.137800e+01

In [18]:
%%time
df.isna().sum()

CPU times: total: 1min 22s
Wall time: 1min 26s

CustID                  0
bucket                  0
age              10101705
loyalty_card            0
Department              0
brand_name              0
Storechain              0
ChannelType             0
Class                   0
StoreNum                0
Storeage                0
trx_hr_char             0
trx_dow_new             0
trx_tod                 0
Date                    0
MDY                     0
Year                    0
Sales                   0
Cost                    0
mkt_bdgt                0
Margin                  0
sss                     0
City                    0
City_Lat                0
City_Long               0
Country                 0
Country_Lat             0
Country_Long            0
Region                  0
Region_Lat              0
Region_Long             0
Region_2                0
Region_2_Lat            0
Region_2_Long           0
State                   0
State_Lat               0
State_Long              0
age_bucket              0
Storechain1             0
brand_name1             0
dtype: int64

In [22]:
%%time
(df
 .query('age_bucket == "26-35"')
 .shape
)

CPU times: total: 3.05 s
Wall time: 3.03 s

(2499405, 40)

In [23]:
%%time
(df
 .query('age_bucket == "26-35"')
 .loyalty_card
 .value_counts(normalize=True)
)

CPU times: total: 2.69 s
Wall time: 2.74 s

0.0    0.722098
1.0    0.277902
Name: loyalty_card, dtype: float64

In [24]:
%%time
(df
 .groupby(['Year','age_bucket'])
 [['Sales','Cost']]
 .sum()
)

CPU times: total: 3.8 s
Wall time: 3.97 s

                        Sales        Cost
Year   age_bucket
2009.0 18-25       91853640.0  29084850.0
       26-35       99187680.0  31413285.0
       36-45       93284550.0  29751210.0
       46-55       84766455.0  27285000.0
       56-65       77681475.0  25016745.0
       Over 65     62770065.0  20259105.0
2010.0 18-25        7518555.0   2707770.0
       26-35        7581960.0   2735910.0
       36-45       11396160.0   4168950.0
       46-55       15120570.0   5506425.0
       56-65       19015380.0   6906705.0
       Over 65     15415785.0   5555400.0