In [31]:
import pandas as pd
from datetime import datetime, date

In [4]:
df = pd.DataFrame(data={'RideName':['Test 1', 'Test 2'], 
                        'ThrillLevel':[2,3]})

In [5]:
df

  RideName  ThrillLevel
0   Test 1            2
1   Test 2            3

In [10]:
today = date.today()
now=datetime.now()
current_time = now.strftime("%H:%M:%S")
display(today, now, current_time)

datetime.date(2024, 1, 23)

datetime.datetime(2024, 1, 23, 11, 45, 54, 594765)

'11:45:54'

In [14]:
def TimeCheck(row):
    if row['ThrillLevel']<3:
        random = randint(1, 10)
        return random
    elif row['ThrillLevel']==3:
        random = randint(11, 20)
        return random
    else:
        random = randint(21, 30)
        return random

In [27]:
import random

6

In [65]:
def test(col):
    if col < 3:
        randomValue = random.randint(1,10)
        return randomValue
    elif col == 3:
        randomValue = random.randint(11,20)
        return randomValue
    else:
        randomValue = random.randint(21,30)
        return randomValue

In [74]:
(
 df
 .assign(
        test = df.ThrillLevel.apply(test),
        x = 'danny',
        newcol = now,
        y = 'abc'
     )
)

  RideName  ThrillLevel  test      x                     newcol    y
0   Test 1            2     8  danny 2024-01-23 11:45:54.594765  abc
1   Test 2            3    15  danny 2024-01-23 11:45:54.594765  abc

In [26]:
new_df

  RideName  ThrillLevel   test      x  newcol    y
0   Test 1            2  other  danny       1  abc
1   Test 2            3   test  danny       1  abc

In [64]:
## Start time at 9AM
x = 9

def test(x):
    global y
    y = y * 2
    print(y)

256

In [54]:
y

2