# Execute SQL

In [ ]:
## Packages
import swat
import os
import pandas as pd
import numpy as np


## custom personal module to connect to my CAS environment
try:
    from casConnect import connect_to_cas 
except:
    print('CasConnect package not available')

    

######################
## Connect to CAS   ##
######################

## My personal connection to CAS. You will need to modify your connection object
try:
    conn = connect_to_cas()
except:
    print('My personal connection to CAS. You will need to modify yours using your connection information.')


## General connection syntax
# conn = swat.CAS(host, port, username, password)

## Viya for Learners 3.5 connection
# hostValue = os.environ.get('CASHOST')
# portValue = os.environ.get('CASPORT')
# passwordToken=os.environ.get('SAS_VIYA_TOKEN')
# conn = swat.CAS(hostname=hostValue, port=portValue, password=passwordToken)

sas-cas-server-default-client

## Create demo CAS tables

In [18]:
def createDemoData(connectionObject):
    '''Specify your CAS connectin object as the parameter'''
    
    ## Load the rand_retaildemo.sashdat file from the samples caslib
    connectionObject.loadTable(path = 'RAND_RETAILDEMO.sashdat', caslib = 'samples',
                               casout = {
                                   'caslib':'casuser',
                                   'replace':True
                               })
    
    ## Create a sample DataFrame, then load it to CAS
    myData = {
        'loyalty_id':[0,1],
        'loyalty_value':['No','Yes'],
    }
    df = pd.DataFrame(myData)
    connectionObject.upload_frame(df, 
                                  casout = {
                                        'name':'loyalty_lookup_tbl',
                                        'caslib':'casuser',
                                        'replace':True
                                   })
    
    ## View CAS tables
    tableInfo = connectionObject.tableInfo(caslib = 'casuser')
    return tableInfo

createDemoData(conn)

NOTE: Cloud Analytic Services made the file RAND_RETAILDEMO.sashdat available as table RAND_RETAILDEMO in caslib CASUSER(Peter.Styliadis@sas.com).
NOTE: Cloud Analytic Services made the uploaded file available as table LOYALTY_LOOKUP_TBL in caslib CASUSER(Peter.Styliadis@sas.com).
NOTE: The table LOYALTY_LOOKUP_TBL has been created in caslib CASUSER(Peter.Styliadis@sas.com) from binary data uploaded to Cloud Analytic Services.

[TableInfo]

                  Name    Rows  Columns  IndexedColumns Encoding        CreateTimeFormatted           ModTimeFormatted        AccessTimeFormatted JavaCharSet    CreateTime       ModTime    AccessTime  Global  Repeated  View  MultiPart               SourceName SourceCaslib  Compressed                  Creator Modifier     SourceModTimeFormatted  SourceModTime
 0     RAND_RETAILDEMO  930046       40               0    utf-8  2023-03-09T14:36:55-05:00  2023-03-09T14:36:55-05:00  2023-03-09T14:36:55-05:00        UTF8  1.994010e+09  1.994010e+09  1.994010e+09       0         0     0          0  RAND_RETAILDEMO.sashdat      Samples           1  Peter.Styliadis@sas.com           2020-02-19T23:20:56-05:00   1.897792e+09
 1  LOYALTY_LOOKUP_TBL       2        2               0    utf-8  2023-03-09T14:36:55-05:00  2023-03-09T14:36:55-05:00  2023-03-09T14:36:55-05:00        UTF8  1.994010e+09  1.994010e+09  1.994010e+09       0         0     0          0                                                 0  Peter.Styliadis@sas.com           2023-03-09T14:36:55-05:00   1.994010e+09

+ Elapsed: 0.000537s, user: 0.000508s, mem: 0.684mb

## Load the FedSQL CAS action set

[FedSQL CAS action set documentation](https://go.documentation.sas.com/doc/en/pgmsascdc/default/caspg/cas-fedsql-execdirect.htm#PYTHON.cas-fedsql-execdirect-method)

In [19]:
conn.loadActionSet('fedSQL')

NOTE: Added action set 'fedSQL'.

[actionset]

 'fedSQL'

+ Elapsed: 0.00129s, user: 0.00114s, sys: 0.000139s, mem: 0.239mb

In [20]:
conn.help(actionset='fedSQL')

NOTE: Information for action set 'fedSQL':
NOTE:    fedSql
NOTE:       execDirect - Submits a SAS FedSQL language statement for immediate execution

[fedSql]

          name                                        description
 0  execDirect  Submits a SAS FedSQL language statement for im...

+ Elapsed: 0.000269s, user: 0.000256s, mem: 0.303mb

## Perform a simple query

In [42]:
conn.tableInfo(caslib = 'casuser')

[TableInfo]

                  Name    Rows  Columns  IndexedColumns Encoding        CreateTimeFormatted           ModTimeFormatted        AccessTimeFormatted JavaCharSet    CreateTime       ModTime    AccessTime  Global  Repeated  View  MultiPart               SourceName SourceCaslib  Compressed                  Creator Modifier     SourceModTimeFormatted  SourceModTime
 0     RAND_RETAILDEMO  930046       40               0    utf-8  2023-03-09T17:13:29+00:00  2023-03-09T17:13:29+00:00  2023-03-09T17:13:29+00:00        UTF8  1.994001e+09  1.994001e+09  1.994001e+09       0         0     0          0  RAND_RETAILDEMO.sashdat      Samples           1  Peter.Styliadis@sas.com           2021-12-18T18:35:04+00:00   1.955472e+09
 1  LOYALTY_LOOKUP_TBL       2        2               0    utf-8  2023-03-09T17:13:29+00:00  2023-03-09T17:13:29+00:00  2023-03-09T17:13:29+00:00        UTF8  1.994001e+09  1.994001e+09  1.994001e+09       0         0     0          0                                                 0  Peter.Styliadis@sas.com           2023-03-09T17:13:29+00:00   1.994001e+09

+ Elapsed: 0.00994s, user: 0.00381s, sys: 0.0166s, mem: 1.83mb

### Preview the RAND_RETAILDEMO CAS table

In [47]:
previewRetail = '''
    select *
        from casuser.RAND_RETAILDEMO
        limit 5;
'''
conn.execDirect(query = previewRetail)

WARNING: License for feature 'CRSFEDSQL Action Set for FEDSQL' has expired and will stop working in 47 days. Contact your installation representative to obtain a renewal.
WARNING: License for feature 'TKCAS SAS Cloud Analytic Services Server' has expired and will stop working in 47 days. Contact your installation representative to obtain a renewal.

[Result Set]

       CustID  bucket   age  loyalty_card   Department brand_name Storechain ChannelType          Class  StoreNum  Storeage trx_hr_char trx_dow_new    trx_tod        Date       MDY    Year  Sales  Cost    mkt_bdgt  Margin       sss           City   City_Lat  City_Long        Country  Country_Lat  Country_Long Region  Region_Lat  Region_Long           Region_2  Region_2_Lat  Region_2_Long State  State_Lat  State_Long age_bucket Storechain1 brand_name1
 0  1083863.0     1.0   NaN           0.0       health       Pine      GRAND      Resale      oral care     736.0      12.0        2 PM         TUE  Afternoon  2009-12-29  12:09:00  2009.0   42.0  12.0  1328884.02   30.36  165122.0    Southampton  40.885188 -72.395162  United States      41.5435      -74.6941  US_AT        40.3       -74.50  US Atlantic Coast          40.3         -74.50    NY    41.5435    -74.6941      18-25        FAST         Oak
 1  1083863.0     1.0   NaN           0.0         kids       Pine      GRAND      Resale  kids_swimwear     736.0      12.0        4 PM         WED  Afternoon  2009-11-11  11:09:00  2009.0   60.0  14.0  1202456.25   46.07  165122.0       New York  40.704234 -73.917927  United States      41.5435      -74.6941  US_AT        40.3       -74.50  US Atlantic Coast          40.3         -74.50    NY    41.5435    -74.6941      36-45       GRAND        Pine
 2  1083863.0     1.0   NaN           0.0          men       Pine      GRAND      Resale   men_slippers     736.0      12.0       10 AM         THU    Morning  2010-01-28  01:10:00  2010.0   37.0   9.0   415904.64   28.16  165122.0      Champaign  40.112981 -88.261227  United States      41.2340      -88.3961  US_MW        43.3       -84.75         US Midwest          43.3         -84.75    IL    41.2340    -88.3961      56-65        MODA       Maple
 3  1083863.0     2.0   NaN           0.0          men       Pine      GRAND    Internet  men_underwear     724.0      12.0        2 PM         SAT  Afternoon  2009-10-31  10:09:00  2009.0   39.0  11.0   415904.64   28.82  195111.0  Atlantic City  39.364966 -74.439034  United States      40.4403      -74.4296  US_AT        40.3       -74.50  US Atlantic Coast          40.3         -74.50    NJ    40.4403    -74.4296      46-55        MODA       Maple
 4  1083883.0     2.0  23.0           1.0  electronics       Pine      GRAND       Store  DVD & Blu-ray     757.0      11.0       11 AM         FRI    Morning  2009-09-18  09:09:00  2009.0   65.0  17.0   134668.27   47.99  154705.0       Lawrence  38.959902 -95.253199  United States      38.4575      -96.5830  US_MW        43.3       -84.75         US Midwest          43.3         -84.75    KS    38.4575    -96.5830      26-35       GRAND        Pine

+ Elapsed: 0.265s, user: 0.099s, sys: 0.324s, mem: 30.7mb

### Preview the LOYALTY_LOOKUP_TBL CAS table

In [21]:
previewLoyalty = '''
    select *
        from casuser.LOYALTY_LOOKUP_TBL
        limit 5;
'''
conn.execDirect(query = previewLoyalty)

[Result Set]

    loyalty_id loyalty_value
 0         0.0            No
 1         1.0           Yes

+ Elapsed: 0.00817s, user: 0.00613s, sys: 0.00201s, mem: 4.03mb

## Perform a join

Perform an inner join:
- the **RAND_RETAILDEMO** CAS table from the **Casuser** caslib using the **loyalty_card** column
- the **LOYALTY_LOOKUP_TBL** CAS table from the **Casuser** caslib using the **loyalty_id** column
- keep the **CustID**, **age**, **Department**, **loyalty_card** and **loyalty_value** columns
- limit the join to 5 rows to confirm it works as expected

In [23]:
joinData = '''
    select retail.CustID,
           retail.age,
           retail.Department,
           retail.loyalty_card,
           loyalty.loyalty_value
        from casuser.RAND_RETAILDEMO as retail inner join
             casuser.LOYALTY_LOOKUP_TBL as loyalty
        on retail.loyalty_card = loyalty.loyalty_id
        limit 5;
'''

conn.execDirect(query = joinData)

[Result Set]

        CustID   age Department  loyalty_card loyalty_value
 0  37518723.0   NaN      women           0.0            No
 1  37518728.0  49.0      women           1.0           Yes
 2  37518728.0  49.0      women           1.0           Yes
 3  37518736.0   NaN      women           0.0            No
 4  37518752.0   NaN    grocery           0.0            No

+ Elapsed: 0.254s, user: 1.34s, sys: 0.263s, mem: 256mb

## Create a new CAS table using the join

In [24]:
createTable = '''
    create table loyalty_final{options replace=True} as
    select retail.CustID,
           retail.age,
           retail.Department,
           retail.loyalty_card,
           loyalty.loyalty_value
        from casuser.RAND_RETAILDEMO as retail inner join
             casuser.LOYALTY_LOOKUP_TBL as loyalty
        on retail.loyalty_card = loyalty.loyalty_id;
'''

conn.execDirect(query = createTable)

NOTE: Table LOYALTY_FINAL was created in caslib CASUSER(Peter.Styliadis@sas.com) with 930046 rows returned.

+ Elapsed: 0.259s, user: 1.36s, sys: 0.253s, mem: 255mb

In [25]:
conn.tableInfo(caslib = 'casuser')

[TableInfo]

                  Name    Rows  Columns  IndexedColumns Encoding        CreateTimeFormatted           ModTimeFormatted        AccessTimeFormatted JavaCharSet    CreateTime       ModTime    AccessTime  Global  Repeated  View  MultiPart               SourceName SourceCaslib  Compressed                  Creator Modifier     SourceModTimeFormatted  SourceModTime
 0     RAND_RETAILDEMO  930046       40               0    utf-8  2023-03-09T14:36:55-05:00  2023-03-09T14:36:55-05:00  2023-03-09T14:57:12-05:00        UTF8  1.994010e+09  1.994010e+09  1.994011e+09       0         0     0          0  RAND_RETAILDEMO.sashdat      Samples           1  Peter.Styliadis@sas.com           2020-02-19T23:20:56-05:00   1.897792e+09
 1  LOYALTY_LOOKUP_TBL       2        2               0    utf-8  2023-03-09T14:36:55-05:00  2023-03-09T14:36:55-05:00  2023-03-09T14:57:12-05:00        UTF8  1.994010e+09  1.994010e+09  1.994011e+09       0         0     0          0                                                 0  Peter.Styliadis@sas.com           2023-03-09T14:36:55-05:00   1.994010e+09
 2       LOYALTY_FINAL  930046        5               0    utf-8  2023-03-09T14:57:12-05:00  2023-03-09T14:57:12-05:00  2023-03-09T14:57:12-05:00        UTF8  1.994011e+09  1.994011e+09  1.994011e+09       0         0     0          0                                                 0  Peter.Styliadis@sas.com                                                NaN

+ Elapsed: 0.000825s, user: 0.000779s, mem: 0.703mb

In [36]:
loyaltyInfo = conn.CASTable('LOYALTY_FINAL',caslib = 'casuser')
loyaltyInfo.head()

Selected Rows from Table LOYALTY_FINAL

      CustID   age   Department  loyalty_card loyalty_value
0  5522565.0  37.0         kids           1.0           Yes
1  5522593.0  72.0       health           1.0           Yes
2  5522619.0   NaN  electronics           0.0            No
3  5522639.0   NaN          men           0.0            No
4  5522653.0   NaN  electronics           0.0            No

## Terminate the CAS session

In [48]:
conn.terminate()