# Read Mutiple CSV Files

In [2]:
## Packages
import swat
import os
import pandas as pd
import numpy as np

## Options
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_colwidth', None)

## custom personal module to connect to my CAS environment
try:
    from casConnect import connect_to_cas 
except:
    print('casConnect package not available')

## Make a Connection to CAS (REQUIRED: MODIFY CONNECTION INFORMATION)

##### To connect to the CAS server you will need:
1. the host name, 
2. the portnumber, 
3. your user name, and your password.

Visit the documentation [Getting Started with SAS® Viya® for Python](https://go.documentation.sas.com/doc/en/pgmsascdc/default/caspg3/titlepage.htm) for more information about connecting to CAS.

**Be aware that connecting to the CAS server can be implemented in various ways, so you might need to see your system administrator about how to make a connection. Please follow company policy regarding authentication.**

In [3]:
##
## Connect to CAS
##

## General connection syntax
# conn = swat.CAS(host, port, username, password)

## SAS Viya for Learners 3.5 connection
# hostValue = os.environ.get('CASHOST')
# portValue = os.environ.get('CASPORT')
# passwordToken=os.environ.get('SAS_VIYA_TOKEN')
# conn = swat.CAS(hostname=hostValue, port=portValue, password=passwordToken)

## Personal connection
try:
    conn = connect_to_cas()
    print('CAS connection succesful')
    print(conn)
except:
    print('No connection')
    pass

CAS connection succesful
CAS('ssemonthly.demo.sas.com', 443, protocol='https', name='py-session-1', session='d262821a-e933-a24f-9a09-ad673f197c6d')

## Enter your connection information to CAS below

In [51]:
## conn = swat.CAS()

## Create the data for the demonstration

xxxx

In [7]:
keepColumns = ['CustID', 'bucket', 'Department', 'Class', 'trx_dow_new', 'Region']

conn.loadTable(path = 'RAND_RETAILDEMO.sashdat', caslib = 'samples',
               casOut = {'name':'retail_sales', 
                         'caslib':'casuser', 
                         'replace':True},
               vars = keepColumns)

castbl = conn.CASTable('retail_sales', caslib = 'casuser')

castbl.head()

NOTE: Cloud Analytic Services made the file RAND_RETAILDEMO.sashdat available as table RETAIL_SALES in caslib CASUSER(Peter.Styliadis@sas.com).

Selected Rows from Table RETAIL_SALES

      CustID  bucket   Department          Class trx_dow_new Region
0  1083863.0     1.0       health      oral care         TUE  US_AT
1  1083863.0     1.0         kids  kids_swimwear         WED  US_AT
2  1083863.0     1.0          men   men_slippers         THU  US_MW
3  1083863.0     2.0          men  men_underwear         SAT  US_AT
4  1083883.0     2.0  electronics  DVD & Blu-ray         FRI  US_MW

## Terminate the CAS session

In [17]:
conn.terminate()