# Loading a Client-Side File into Memory
Downloading data from the SAS Viya Example Data Sets Website: https://support.sas.com/documentation/onlinedoc/viya/examples.htm

In [143]:
## Packages
import swat
import pandas as pd
from casConnect import connect_to_cas ## personal custom package

##
## Connect to CAS
##

## General connection syntax
# conn = swat.CAS(host, port, username, password)

## Viya for Learners 3.5 connection
# hostValue = os.environ.get('CASHOST')
# portValue = os.environ.get('CASPORT')
# passwordToken=os.environ.get('SAS_VIYA_TOKEN')
# conn = swat.CAS(hostname=hostValue, port=portValue, password=passwordToken)

## Personal connection
conn = connect_to_cas()

In [144]:
conn.tableInfo(caslib = 'casuser')

NOTE: No tables are available in caslib CASUSER(Peter.Styliadis@sas.com) of Cloud Analytic Services.

+ Elapsed: 0.00843s, user: 0.00363s, sys: 0.0139s, mem: 1.45mb

## Using the Pandas API in the SWAT package

In [170]:
df = pd.read_csv(r'https://support.sas.com/documentation/onlinedoc/viya/exampledatasets/volume.csv', 
                    names=['Date','Volume','Percent'],
                    parse_dates=['Date'],
                    thousands=',',
                    converters={"Percent": lambda value : float(value.rstrip("%"))/100})

In [167]:
df.head()

         Date  Volume  Percent
0  12-06-2019    1245     0.10
1  01-03-2020    3400     0.27
2  02-07-2020    2341     0.18
3  03-06-2020    5700     0.45
4  04-03-2020   12686     1.00

In [168]:
df.dtypes

Date        object
Volume       int64
Percent    float64
dtype: object

In [169]:
uf = conn.upload_frame(df, casout={'name':'uploadframe', 'replace':True}, 
                       importoptions={
                                'stripBlanks':True, 
                                'getNames':False,
                                'vars':[
                                    {'name':'Date', 'informat':'ANYDTDTE.'},
                                    {'name':'Volume'},
                                    {'name':'Percent', 'informat':'PERCENT7.2'}
                                ]
                       })

ERROR: The destination buffer size was not sufficient for the transcoded data.
ERROR: The destination buffer size was not sufficient for the transcoded data.
ERROR: The action stopped due to errors.

SWATError: The destination buffer size was not sufficient for the transcoded data.

In [161]:
uf.head()

Selected Rows from Table UPLOADFRAME

         Date  Volume  Percent
0        Date     NaN      NaN
1  2019-12-06  1245.0     0.10
2  2020-01-03  3400.0     0.27
3  2020-02-07  2341.0     0.18
4  2020-03-06  5700.0     0.45

In [162]:
uf.columnInfo()

[ColumnInfo]

     Column Label  ID     Type  RawLength  FormattedLength Format  NFL  NFD
 0     Date         1  varchar         10               10           0    0
 1   Volume         2   double          8               12           0    0
 2  Percent         3   double          8               12           0    0

+ Elapsed: 0.0132s, user: 0.00949s, sys: 0.0195s, mem: 2.53mb

In [145]:
tbl = conn.read_csv(r'https://support.sas.com/documentation/onlinedoc/viya/exampledatasets/volume.csv', 
                    names=['Date','Volume','Percent'],
                    parse_dates=['Date'],
                    thousands=',',
                    converters={"Percent": lambda value : float(value.rstrip("%"))/100},                    
                    casout = {'name':'volume_readcsv', 
                              'caslib':'casuser', 
                              'replace':True})

NOTE: Cloud Analytic Services made the uploaded file available as table VOLUME_READCSV in caslib CASUSER(Peter.Styliadis@sas.com).
NOTE: The table VOLUME_READCSV has been created in caslib CASUSER(Peter.Styliadis@sas.com) from binary data uploaded to Cloud Analytic Services.

In [146]:
tbl.head()

Selected Rows from Table VOLUME_READCSV

         Date   Volume  Percent
0  2019-12-06   1245.0     0.10
1  2020-01-03   3400.0     0.27
2  2020-02-07   2341.0     0.18
3  2020-03-06   5700.0     0.45
4  2020-04-03  12686.0     1.00

In [149]:
tbl.columnInfo()

[ColumnInfo]

     Column Label  ID     Type  RawLength  FormattedLength Format  NFL  NFD
 0     Date         1  varchar         10               10           0    0
 1   Volume         2   double          8               12           0    0
 2  Percent         3   double          8               12           0    0

+ Elapsed: 0.0125s, user: 0.00483s, sys: 0.0222s, mem: 2.54mb

In [ ]:
tbl.eval('X = input(Date,ANYDTDTE.)')

## Upload_file method

In [137]:
tbl2 = conn.upload_file(r'https://support.sas.com/documentation/onlinedoc/viya/exampledatasets/volume.csv', 
                        casout = {'name':'volume_upload_file', 
                                  'caslib':'casuser',
                                  'replace':True},
                        importoptions={
                                'stripBlanks':True, 
                                'getNames':False,
                                'vars':[
                                    {'name':'Date', 'informat':'ANYDTDTE.','format':'DATE9.'},
                                    {'name':'Volume'},
                                    {'name':'Percent', 'informat':'PERCENT7.2'}
                                ]
                       }
                )

NOTE: Cloud Analytic Services made the uploaded file available as table VOLUME_UPLOAD_FILE in caslib CASUSER(Peter.Styliadis@sas.com).
NOTE: The table VOLUME_UPLOAD_FILE has been created in caslib CASUSER(Peter.Styliadis@sas.com) from binary data uploaded to Cloud Analytic Services.

In [138]:
tbl2.head()

Selected Rows from Table VOLUME_UPLOAD_FILE

         Date   Volume  Percent
0  2019-12-06   1245.0     0.10
1  2020-01-03   3400.0     0.27
2  2020-02-07   2341.0     0.18
3  2020-03-06   5700.0     0.45
4  2020-04-03  12686.0     1.00

In [139]:
tbl2.columnInfo()

[ColumnInfo]

     Column Label  ID    Type  RawLength  FormattedLength Format  NFL  NFD
 0     Date         1  double          8               12   DATE    9    0
 1   Volume         2  double          8               12           0    0
 2  Percent         3  double          8               12           0    0

+ Elapsed: 0.0128s, user: 0.00516s, sys: 0.0203s, mem: 2.49mb

In [67]:
from swat.cas.utils.datetime import str2cas_date

In [68]:
str2cas_date('2020-01-03')

21917

## Terminate the CAS connection

In [140]:
conn.terminate()