In [278]:
import swat
import pandas as pd


print(swat.__version__)
print(pd.__version__)

1.9.3
1.2.4

In [ ]:
conn = swat.CAS('server.demo.sas.com', 30571, 'user', 'password')

Create fake DataFrame

In [265]:
df = pd.DataFrame({'col1':['1000', '300','2000']})
df.head()

   col1
0  1000
1   300
2  2000

Upload DataFrame to CAS as the cas table mycastable.

In [267]:
castbl = conn.upload_frame(df, 
                           casout = {'name':'mycastable','caslib':'casuser','replace':True})

NOTE: Cloud Analytic Services made the uploaded file available as table MYCASTABLE in caslib CASUSER(student).
NOTE: The table MYCASTABLE has been created in caslib CASUSER(student) from binary data uploaded to Cloud Analytic Services.

castbl is a CASTable object.

In [270]:
type(castbl)

swat.cas.table.CASTable

Notice the column col1 was loaded as character even though it should be numeric. You can either fix it in the DataFrame itself, or you can fix it when loading to CAS.

In [271]:
castbl.columnInfo()

[ColumnInfo]

   Column Label  ID     Type  RawLength  FormattedLength Format  NFL  NFD
 0   col1         1  varchar          4                4           0    0

+ Elapsed: 0.00075s, user: 0.000413s, sys: 0.00031s, mem: 0.803mb

In [280]:
castbl.head()

Selected Rows from Table CHANGEDATATYPE

     col1
0  1000.0
1   300.0
2  2000.0

Upload the same dataframe, but this time modify the import options to load col1 as a double.

In [286]:
castbl = conn.upload_frame(df, 
                           importOptions = {
                               'fileType':'CSV',
                               'vars':{
                                   'col1':{'type':'double'} ## can be one of the following: 'binary', 'char', 'date', 'datetime', 'decquad', 'decsext', 'double', 'int32', 'int64', 'time', 'varbinary', 'varchar'.
                               }
                           },
                           casout = {'name':'changedatatype',
                                     'caslib':'casuser',
                                     'replace':True})

NOTE: Cloud Analytic Services made the uploaded file available as table CHANGEDATATYPE in caslib CASUSER(student).
NOTE: The table CHANGEDATATYPE has been created in caslib CASUSER(student) from binary data uploaded to Cloud Analytic Services.

Loaded col1 as a double.

In [287]:
castbl.columnInfo()

[ColumnInfo]

   Column Label  ID    Type  RawLength  FormattedLength Format  NFL  NFD
 0   col1         1  double          8               12           0    0

+ Elapsed: 0.000872s, user: 0.000848s, mem: 0.818mb

In [283]:
castbl.head()

Selected Rows from Table CHANGEDATATYPE

   col1
0  1000
1   300
2  2000