In [2]:
import swat
import os
import pandas as pd
pd.set_option('display.max_columns', 50)
import matplotlib.pyplot as plt

hostValue = os.environ.get('CASHOST')
portValue = os.environ.get('CASPORT')
passwordToken=os.environ.get('SAS_VIYA_TOKEN')

conn = swat.CAS(hostname=hostValue,port=portValue,password=passwordToken)

## Create DataFrame then upload it to CAS for testing

In [19]:
## Create local dataframe
testdata = {
    'charvalue':['1','2','4','5.4'],
}
df = pd.DataFrame(testdata)


## Upload DAtaFrame as a CAS table
conn.upload_frame(df, 
                  casout = {
                      'name':'testCAStable',
                      'caslib':'casuser',
                      'replace':True
                  })


## Preview the CAS table
castbl = conn.CASTable('testCAStable', caslib = 'casuser')
castbl.head()

NOTE: Cloud Analytic Services made the uploaded file available as table TESTCASTABLE in caslib CASUSER(Peter.Styliadis@sas.com).
NOTE: The table TESTCASTABLE has been created in caslib CASUSER(Peter.Styliadis@sas.com) from binary data uploaded to Cloud Analytic Services.

Selected Rows from Table TESTCASTABLE

  charvalue
0         1
1         2
2         4
3       5.4

## Column data types

In [20]:
castbl.columnInfo()

[ColumnInfo]

       Column Label  ID     Type  RawLength  FormattedLength Format  NFL  NFD
 0  charvalue         1  varchar          3                3           0    0

+ Elapsed: 0.000415s, user: 0.000402s, mem: 0.804mb

## Create a new column in a CAS table
Check out my blog: [Getting Started with Python Integration to SAS® Viya® - Part 8 - Creating Calculated Columns](https://blogs.sas.com/content/sgf/2022/07/21/getting-started-with-python-integration-to-sas-viya-part-8-creating-calculated-columns/)

This add the expression to calculate the column to the CAS table in place. So anytime you use this CAS table it will always create the column.

The table does not have the column. Just the expression to create it.

In [21]:
castbl.eval('double_test = input(charvalue,comma16.)')
castbl.params

{'name': 'testCAStable',
 'caslib': 'casuser',
 'computedvars': ['double_test'],
 'computedvarsprogram': 'double_test =  input(charvalue,comma16.); double_test = double_test; '}

In [22]:
castbl.head()

Selected Rows from Table TESTCASTABLE

  charvalue  double_test
0         1          1.0
1         2          2.0
2         4          4.0
3       5.4          5.4

In [23]:
castbl.columnInfo()

[ColumnInfo]

         Column Label  ID     Type  RawLength  FormattedLength Format  NFL  NFD
 0    charvalue         1  varchar          3                3           0    0
 1  double_test         2   double          8               12           0    0

+ Elapsed: 0.00227s, user: 0.00218s, sys: 6.8e-05s, mem: 1.68mb

In [24]:
conn.terminate()