In [1]:
## Packages
import swat
import pandas as pd
pd.set_option('display.max_columns', 100)
import numpy as np
from casConnect import connect_to_cas ## custom personal module

##
## Connect to CAS
##

## General connection syntax
# conn = swat.CAS(host, port, username, password)

## Viya for Learners 3.5 connection
# hostValue = os.environ.get('CASHOST')
# portValue = os.environ.get('CASPORT')
# passwordToken=os.environ.get('SAS_VIYA_TOKEN')
# conn = swat.CAS(hostname=hostValue, port=portValue, password=passwordToken)

## Personal connection
conn = connect_to_cas()

In [2]:
## Load the water_cluster.sashdat table from the samples caslib into CAS in the Casuser caslib.
conn.loadTable(path='WATER_CLUSTER.sashdat', caslib = 'samples',
               casout = {
                   'name':'water_cluster',
                   'caslib':'casuser',
                   'replace':True
               })

WARNING: License for feature 'TKCAS SAS Cloud Analytic Services Server' has expired and will stop working in 48 days. Contact your installation representative to obtain a renewal.
NOTE: Cloud Analytic Services made the file WATER_CLUSTER.sashdat available as table WATER_CLUSTER in caslib CASUSER(Peter.Styliadis@sas.com).

[caslib]

 'CASUSER(Peter.Styliadis@sas.com)'

[tableName]

 'WATER_CLUSTER'

[casTable]

 CASTable('WATER_CLUSTER', caslib='CASUSER(Peter.Styliadis@sas.com)')

+ Elapsed: 0.0537s, user: 0.033s, sys: 0.0606s, mem: 7.13mb

In [4]:
conn.tableInfo(caslib = 'casuser')

[TableInfo]

              Name    Rows  Columns  IndexedColumns Encoding        CreateTimeFormatted           ModTimeFormatted        AccessTimeFormatted JavaCharSet    CreateTime       ModTime    AccessTime  Global  Repeated  View  MultiPart              SourceName                      SourceCaslib  Compressed                  Creator Modifier     SourceModTimeFormatted  SourceModTime
 0   WATER_CLUSTER   46720       21               0    utf-8  2023-03-08T11:51:00+00:00  2023-03-08T11:51:00+00:00  2023-03-08T11:51:00+00:00        UTF8  1.993895e+09  1.993895e+09  1.993895e+09       0         0     0          0   WATER_CLUSTER.sashdat                           Samples           1  Peter.Styliadis@sas.com           2021-12-18T18:35:04+00:00   1.955472e+09
 1  WARRANTY_FINAL  153217       33               0    utf-8  2023-02-28T23:52:08+00:00  2023-02-28T23:52:09+00:00  2023-02-28T23:55:33+00:00        UTF8  1.993248e+09  1.993248e+09  1.993248e+09       1         0     0          0  warranty_final.sashdat  CASUSER(Peter.Styliadis@sas.com)           0  Peter.Styliadis@sas.com           2023-02-28T23:50:36+00:00   1.993247e+09
 2   NEWJOINEDDATA   46720       23               0    utf-8  2023-03-06T15:47:09+00:00  2023-03-06T15:57:16+00:00  2023-03-06T16:07:55+00:00        UTF8  1.993737e+09  1.993737e+09  1.993738e+09       1         0     0          0                                                                     0  Peter.Styliadis@sas.com                                                NaN

+ Elapsed: 0.0109s, user: 0.0106s, sys: 0.0104s, mem: 1.88mb

## Load the FedSQL action set

In [3]:
conn.loadActionSet('fedSQL')

WARNING: License for feature 'TKCAS SAS Cloud Analytic Services Server' has expired and will stop working in 48 days. Contact your installation representative to obtain a renewal.
NOTE: Added action set 'fedSQL'.

[actionset]

 'fedSQL'

+ Elapsed: 0.0166s, user: 0.012s, sys: 0.0255s, mem: 1.2mb

## Contains one action

In [5]:
conn.fedSQL?

Signature:   conn.fedSQL(*args, **kwargs)
Type:        Fedsql
String form: <swat.cas.actions.Fedsql object at 0x0000022464B37EB0>
File:        c:\users\pestyl\anaconda3\lib\site-packages\swat\cas\actions.py
Docstring:
FedSQL

Actions
-------
fedsql.execdirect : Submits a SAS FedSQL language statement for immediate
                    execution

## Documentation for execDirect

[SAS Website Documentation](https://go.documentation.sas.com/doc/en/pgmsascdc/default/caspg/cas-fedsql-TblOfActions.htm)

In [6]:
conn.help(action='execDirect')

NOTE: Information for action 'fedSql.execDirect':
NOTE: The following parameters are accepted.  Default values are shown.
NOTE:    string query=NULL (required),
NOTE:       specifies a SAS FedSQL language statement.
NOTE:    boolean validateOnly=false,
NOTE:       when set to True, validates the query syntax and returns without executing the query.
NOTE:    boolean method=false,
NOTE:       when set to True, prints a brief description of the FedSQL query plan.
NOTE:    boolean showPlan=false,
NOTE:       when set to True, prints an XML tree representing the FedSQL query plan.
NOTE:    list cntl={
NOTE:       specifies optional control parameters.
NOTE:       boolean preserveJoinOrder=false,
NOTE:       when set to True, joins tables in the specified order instead of an order chosen by the FedSQL query optimizer.
NOTE:       boolean disablePassThrough=false,
NOTE:       when set to True, disables FedSQL implicit pass-through.
NOTE:       boolean requireFullPassThrough=false,
NOTE:       when set to True, stops processing if FedSQL implicit pass-through of the full query cannot be achieved. No data is loaded into CAS and no output table or result set is produced.
NOTE:       boolean dynamicCardinality=false,
NOTE:       when set to True, the FedSQL query planner performs cardinality estimations of the input data.
NOTE:       boolean showStages=false,
NOTE:       when set to True, prints a brief description of FedSQL query plans along with details of query execution.
NOTE:       boolean optimizeVarcharPrecision=false,
NOTE:       when set to True, optimizes VARCHAR precision by using a precision that is appropriate to the actual data, instead of the declared precision.
NOTE:       boolean optimizeVarbinaryPrecision=false
NOTE:       when set to True, optimizes VARBINARY precision by using a precision that is appropriate to the actual data, instead of the declared precision.
NOTE:    },
NOTE:       specifies optional control parameters.
NOTE:    boolean showStages=false
NOTE:       when set to True, prints a brief description of FedSQL query plans along with details of query execution.

[execDirect]

 True

+ Elapsed: 0.0114s, user: 0.00942s, sys: 0.0114s, mem: 1.02mb

In [7]:
conn.tableInfo(caslib = 'casuser')

[TableInfo]

              Name    Rows  Columns  IndexedColumns Encoding        CreateTimeFormatted           ModTimeFormatted        AccessTimeFormatted JavaCharSet    CreateTime       ModTime    AccessTime  Global  Repeated  View  MultiPart              SourceName                      SourceCaslib  Compressed                  Creator Modifier     SourceModTimeFormatted  SourceModTime
 0   WATER_CLUSTER   46720       21               0    utf-8  2023-03-08T11:51:00+00:00  2023-03-08T11:51:00+00:00  2023-03-08T11:51:00+00:00        UTF8  1.993895e+09  1.993895e+09  1.993895e+09       0         0     0          0   WATER_CLUSTER.sashdat                           Samples           1  Peter.Styliadis@sas.com           2021-12-18T18:35:04+00:00   1.955472e+09
 1  WARRANTY_FINAL  153217       33               0    utf-8  2023-02-28T23:52:08+00:00  2023-02-28T23:52:09+00:00  2023-02-28T23:55:33+00:00        UTF8  1.993248e+09  1.993248e+09  1.993248e+09       1         0     0          0  warranty_final.sashdat  CASUSER(Peter.Styliadis@sas.com)           0  Peter.Styliadis@sas.com           2023-02-28T23:50:36+00:00   1.993247e+09
 2   NEWJOINEDDATA   46720       23               0    utf-8  2023-03-06T15:47:09+00:00  2023-03-06T15:57:16+00:00  2023-03-06T16:07:55+00:00        UTF8  1.993737e+09  1.993737e+09  1.993738e+09       1         0     0          0                                                                     0  Peter.Styliadis@sas.com                                                NaN

+ Elapsed: 0.0122s, user: 0.00793s, sys: 0.0163s, mem: 1.87mb

Simple query.

Always use two level name.

*caslib*.*castablename*

In [9]:
myQuery = '''
    select *
        from casuser.WATER_CLUSTER
        limit 5;
'''

conn.execDirect(query = myQuery)

WARNING: License for feature 'CRSFEDSQL Action Set for FEDSQL' has expired and will stop working in 48 days. Contact your installation representative to obtain a renewal.
WARNING: License for feature 'TKCAS SAS Cloud Analytic Services Server' has expired and will stop working in 48 days. Contact your installation representative to obtain a renewal.

[Result Set]

      Year  Month   Day        Date  Serial  Property                    Address     City      Zip        Lat       Long  Property_type Meter_Location      Clli  DMA  Weekday  Weekend  Daily_W_C_M3  Week US Holiday  CLUSTER
 0  2014.0    1.0  31.0  2014-01-31   955.0     773.0         1800 POST OAK BLVD  HOUSTON  77056.0 -95.461478  29.748200            0.0       internal  HSTNTXNA  1.0      6.0      0.0         4.376   4.0                 4.0
 1  2015.0   12.0  26.0  2015-12-26  1076.0     879.0     1811 E CROSSTIMBERS ST  HOUSTON  77093.0 -95.352264  29.828844            0.0       external  HSTNTXOX  2.0      5.0      0.0         1.515  51.0                 4.0
 2  2014.0    1.0  19.0  2014-01-19   955.0     773.0         1800 POST OAK BLVD  HOUSTON  77056.0 -95.461478  29.748200            0.0       internal  HSTNTXNA  1.0      1.0      1.0         1.694   3.0                 4.0
 3  2014.0    5.0   9.0  2014-05-09   871.0     706.0  17575 ALDINE WESTFIELD RD  HOUSTON  77073.0 -95.364653  29.976798            0.0       external  HSTNTXWE  1.0      6.0      0.0         0.728  18.0                 4.0
 4  2014.0    1.0  30.0  2014-01-30   955.0     773.0         1800 POST OAK BLVD  HOUSTON  77056.0 -95.461478  29.748200            0.0       internal  HSTNTXNA  1.0      5.0      0.0         3.973   4.0                 4.0

+ Elapsed: 0.0719s, user: 0.069s, sys: 0.099s, mem: 20.6mb

## Create a new table from the casuser.water_cluster table in the public caslib named mynewtable.

In [12]:
myQuery = '''
    create table public.mynewtable as
    select *
        from casuser.WATER_CLUSTER
        limit 5;
'''

conn.execDirect(query = myQuery)

WARNING: License for feature 'CRSFEDSQL Action Set for FEDSQL' has expired and will stop working in 48 days. Contact your installation representative to obtain a renewal.
WARNING: License for feature 'TKCAS SAS Cloud Analytic Services Server' has expired and will stop working in 48 days. Contact your installation representative to obtain a renewal.
NOTE: CASDAL driver. Creation of a DATE column has been requested, but is not supported by the CASDAL driver. A DOUBLE PRECISION column will be created instead. A DATE format will be associated with the column.
NOTE: Table MYNEWTABLE was created in caslib Public with 5 rows returned.

+ Elapsed: 0.118s, user: 0.0896s, sys: 0.195s, mem: 19.3mb

In [16]:
conn.tableInfo(caslib = 'public', name = 'mynewtable')

[TableInfo]

          Name  Rows  Columns  IndexedColumns Encoding        CreateTimeFormatted           ModTimeFormatted        AccessTimeFormatted JavaCharSet    CreateTime       ModTime    AccessTime  Global  Repeated  View  MultiPart SourceName SourceCaslib  Compressed                  Creator Modifier SourceModTimeFormatted  SourceModTime
 0  MYNEWTABLE     5       21               0    utf-8  2023-03-08T11:55:44+00:00  2023-03-08T11:55:44+00:00  2023-03-08T11:55:44+00:00        UTF8  1.993896e+09  1.993896e+09  1.993896e+09       0         0     0          0                                   0  Peter.Styliadis@sas.com                                            NaN

+ Elapsed: 0.0102s, user: 0.00919s, sys: 0.0103s, mem: 1.88mb

## To replace a table if it already exists with SQL.

In [17]:
myQuery = '''
    create table public.mynewtable{options replace=True} as
    select *
        from casuser.WATER_CLUSTER
        limit 5;
'''

conn.execDirect(query = myQuery)

WARNING: License for feature 'CRSFEDSQL Action Set for FEDSQL' has expired and will stop working in 48 days. Contact your installation representative to obtain a renewal.
WARNING: License for feature 'TKCAS SAS Cloud Analytic Services Server' has expired and will stop working in 48 days. Contact your installation representative to obtain a renewal.
NOTE: CASDAL driver. Creation of a DATE column has been requested, but is not supported by the CASDAL driver. A DOUBLE PRECISION column will be created instead. A DATE format will be associated with the column.
NOTE: Table MYNEWTABLE was created in caslib Public with 5 rows returned.

+ Elapsed: 0.113s, user: 0.0791s, sys: 0.192s, mem: 24.3mb